<h1>Order @Model["order"].Id Details:</h1>

<h2>Title:</h2>
<p>@Model["order"].Title</p>

<h2>Description</h2>
<p>@Model["order"].Description</p>

<h2>Price:</h2>
<p>@Model["order"].Price</p>

<h2>Date Ordered:</h2>
<p>@Model["order"].Date</p>

<a href="/vendors/@Model["vendor"].Id">Return to Orders List</a>
<a href="/">Home</a>